
.active {
  transform: scale(1.02);
}

.mat-elevation-z4:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.mat-card-title {
  font-size: 16px;
}

.mat-card {
  min-height: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
    width: calc(100% - 1rem);
}

.mat-card-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  max-width: 200px !important;

}