.project-details {
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.project-details>h2 {
  font-size: medium;
}

.details-buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}

.details-buttons button {
  margin-right: 10px;
}
.project-details ul {
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}
.project-details ul li {
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  /* border-radius: 10px; */
}
hr {
  margin: 20px 0;
  background-color: #f3f3f3;
  width: 100%;
}
h3 {
  font-weight: bold;
}
form {
  width: 10 0%;
  display: flex;
  flex-direction: column;
}
.form-group {
  margin: 10px 0;
}
.form-group > label {
  display: block;
  width: 100%;
}
.form-group > input,
select {
  display: block;
  width: 100%;
  /* border-radius: 10px; */
  padding: 5px;
}
.form-group-button > * {
  margin: 10px;
}
.form-group-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-success {
  background-color: green;
  color: white;
}
.btn-success:disabled {
  cursor: not-allowed;
  background-color: rgb(95, 184, 95);
}
.btn-danger {
  background-color: red;
}
.error {
  width: 70%;
  border: 2px solid red;
  text-align: center;
  padding: 10px 30px;
  /* border-radius: 10px; */
  background-color: #ed456c;
}

.error p {
  margin: 0;
  color: #ffffff;
}
.projectReport {
  margin: 0;
}
.reports {
  margin: 0;
  list-style: none;
}

.reports li {
  font-size: 16px;
  margin: 10px 0;
}

.reports li p {
  font-size: 12px;
}

.singleContributor {
width: 43%;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  font-weight: bold;
}

.project-tasks {
  margin: 10px;
  padding: 5px 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 600px) {
.contributors {
  /* width: max-content; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleContributor {
  width: min-content;
  width: 50%;
}

.details-buttons {
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* width: -webkit-fit-content; */
  /* width: -moz-fit-content; */
  width: fit-content;
}

.mat-raised-button {
  margin: 3px;
}
}